.configuration-form { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; overflow: hidden; }

.configuration-form > .group { margin: 3px 14px 4px 10px; width: 100%; }
.configuration-form > .group > label { margin-bottom: 5px; }
.configuration-form > .group > .group-items { display: flex; flex-direction: row; width: 100%; }
.configuration-form > .group > .group-items > .group-item { display: flex; flex-direction: row; }
.configuration-form > .group > .group-items > .group-item > .bp3-form-group { margin: 1px 0 2px 0 !important; width: 100%; }
.configuration-form > .group > .group-items > .group-item > .bp3-form-group label { padding: 0 8px 0 0px !important; }
.configuration-form > .group > .group-items > .group-item > .bp3-form-group.bp3-inline label { margin: 0; }
.configuration-form > .group > .group-items > .group-item > .bp3-form-group .bp3-form-content { margin: 0; padding: 0 2px 0 2px !important; }

.configuration-form > .bp3-form-group { flex: 1 1 100%; margin-bottom: 10px; margin: 3px 14px 4px 10px !important; }
.configuration-form > .bp3-form-group.bp3-inline .bp3-label { flex-basis: 30%; }
.configuration-form > .bp3-form-group.bp3-inline .bp3-form-content { flex-basis: 70%; }

/* hide chrome number arrows */
.configuration-form input::-webkit-outer-spin-button,
.configuration-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.configuration-form input[type=number] { -moz-appearance: textfield; }

.configuration-form .bp3-input-action { cursor: ns-resize; }

/* not sure where else to put this, but i know it doesn't belong here */
.group.size-and-position { margin: 0; }
.group.size-and-position .group-item .bp3-label { flex: 0 0 45%; font-size: 0.9em; text-align: right; }
.group.size-and-position .group-item .bp3-form-content { flex: 0 0 55%; }