{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "75"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        ["@babel/plugin-transform-runtime", { "regenerator": true }]
    ]
}