.configuration-form { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; overflow: hidden; user-select: none; }

.configuration-form > .group { margin: 3px 14px 4px 10px; width: 100%; }
.configuration-form > .group > label { margin-bottom: 5px; }
.configuration-form > .group > .group-items { display: flex; flex-direction: row; width: 100%; }
.configuration-form > .group > .group-items > .group-item { display: flex; flex-direction: row; }
.configuration-form > .group > .group-items > .group-item > .bp3-form-group { margin: 1px 0 2px 0 !important; width: 100%; }
.configuration-form > .group > .group-items > .group-item > .bp3-form-group label { padding: 0 8px 0 0px !important; }
.configuration-form > .group > .group-items > .group-item > .bp3-form-group.bp3-inline label { margin: 0; }
.configuration-form > .group > .group-items > .group-item > .bp3-form-group .bp3-form-content { margin: 0; padding: 0 2px 0 2px !important; }

.configuration-form > .bp3-form-group { flex: 1 1 100%; margin-bottom: 10px; margin: 3px 14px 4px 10px !important; }
.configuration-form > .bp3-form-group.bp3-inline .bp3-label { flex-basis: 30%; }
.configuration-form > .bp3-form-group.bp3-inline .bp3-form-content { flex-basis: 70%; }

/* angle inputs */
.configuration-form .angle-input { display: flex; }
.configuration-form .angle-input .widget { width: 25px; height: 25px; margin-right: 10px; fill: currentColor; color: #ffffffBB; }
.configuration-form .angle-input .widget.changing { color: #4891ff; }
.configuration-form .angle-input .widget:not(.changing):hover { color: #ffffffff; }

/* easing inputs */
.configuration-form .easing-input {  }
.custom-easing-editor { height: 200px; width: 200px; background: #ffffff80; }
.custom-easing-editor svg { height: 100%; width: 100%; }
.custom-easing-editor svg .handle { cursor: pointer; }

/* hide chrome number arrows */
.configuration-form input::-webkit-outer-spin-button,
.configuration-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.configuration-form input[type=number] { -moz-appearance: textfield; }

.configuration-form textarea { min-height: 100px; }

.configuration-form .bp3-input-action { cursor: ns-resize; }
