.font-color-input .font-color { width: 16.6666666%; }
.font-color-input .font-color .bp3-popover-target { width: 100%; border-left: 1px solid #000; }
.font-color-input .font-color button { width: 100%; }