.script-wrapper { overflow: auto; height: 100%; width: 100%; }
.script-wrapper .editor-wrapper { float: left; font-family: Consolas, monospace; font-size: 12px; min-width: 100%; min-height: 100%; }
.script-wrapper .editor-wrapper pre,
.script-wrapper .editor-wrapper textarea { white-space: pre !important;}

/*
.script-wrapper .button-bar { margin: 0 5px; display: flex; flex-direction: row; justify-content: space-between; }
.script-wrapper .button-bar button { }
*/

/* Syntax highlighting */
.script-wrapper .token.comment,
.script-wrapper .token.prolog,
.script-wrapper .token.doctype,
.script-wrapper .token.cdata { color: #90a4ae; }
.script-wrapper .token.punctuation { color: #9e9e9e; }
.script-wrapper .namespace { opacity: 0.7; }
.script-wrapper .token.property,
.script-wrapper .token.tag,
.script-wrapper .token.boolean,
.script-wrapper .token.number,
.script-wrapper .token.constant,
.script-wrapper .token.symbol,
.script-wrapper .token.deleted { color: #e91e63; }
.script-wrapper .token.selector,
.script-wrapper .token.attr-name,
.script-wrapper .token.string,
.script-wrapper .token.char,
.script-wrapper .token.builtin,
.script-wrapper .token.inserted { color: #4caf50; }
.script-wrapper .token.operator,
.script-wrapper .token.entity,
.script-wrapper .token.url,
.script-wrapper .language-css .token.string,
.script-wrapper .style .token.string { color: #795548; }
.script-wrapper .token.atrule,
.script-wrapper .token.attr-value,
.script-wrapper .token.keyword { color: #769dd8; }
.script-wrapper .token.function { color: #f44336; }
.script-wrapper .token.regex,
.script-wrapper .token.important,
.script-wrapper .token.variable { color: #ff9800; }
.script-wrapper .token.important,
.script-wrapper .token.bold { font-weight: bold; }
.script-wrapper .token.italic { font-style: italic; }
.script-wrapper .token.entity { cursor: help; }