.layer-list { height: 100%; display: flex; flex-direction: column; }
.layer-list .layer-list-header { display: flex; justify-content: space-between; align-items: center; padding: 10px 10px 0 10px; }
.layer-list .layer-list-header .left { flex: 1 1 auto; }
.layer-list .layer-list-header .right { text-align: right; }
.layer-list .layer-list-layers { margin: 10px; overflow-y: auto; }

.layer-label { display: flex; justify-content: space-between; align-items: center; }
.layer-label .buttons { display: flex; }
.layer-label .buttons a { display: none; padding: 0; min-height: 20px; min-width: 20px; }
.layer-label:hover .buttons a { display: block; }
.layer-label .buttons .bp3-editable-text:hover { cursor: default; }
.layer-label .buttons .bp3-editable-text:hover::before { content: none; }
.layer-label .buttons a .bp3-icon:first-child:last-child, .layer-label a .bp3-spinner + .bp3-icon:last-child { margin: 2px; }