.layer-list .layer-header { display: flex; align-items: center; cursor: pointer; }
.layer-list .layer-header[isselected="true"] { background: #137cbd80; }
.layer-list .layer-header .label { flex: 1 1 100%; text-align: left; padding: 6px 5px; }
.layer-list .layer-header .label .label-editor { width: 100%; display: inline-block; }
.layer-list .layer-header .label input { height: 25px; min-height: 0; }

.layer-list .effect { display: flex; align-items: center; font-size: 0.9em !important; padding-left: 20px; background: #00000020; }
.layer-list .effect .bp3-button { font-size: inherit; min-height: 20px; }
.layer-list .effect .label { flex: 1 1 100%; align-self: center; padding: 0 5px; cursor: pointer; }
