.app-wrapper { width: 100%; height: 100%; display: flex; overflow: hidden; background: #293742; user-select: none; }
.app-wrapper ::-webkit-scrollbar { width: 10px; background: rgba(0,0,0,0.5); }
.app-wrapper ::-webkit-scrollbar-thumb { width: 10PX; background: #137cbd; }
.sidepanel-wrapper {  z-index: 2; height: 100%; display: flex; flex-direction: column; }
.rightside-wrapper { flex: 1 1 auto; display: flex; flex-direction: column; }
.stage-wrapper { flex: 1 1 auto; position: relative; }
.layer-list-wrapper { flex: 1 1 auto; height: 100%; overflow: hidden; }
.active-layer-editor-wrapper { flex: 0 0 auto; }
.animation-panel-wrapper { flex: 0 0 auto; }
