.app-wrapper { width: 100%; height: 100%; display: flex; overflow: hidden; background: #293742; user-select: none; }
.app-wrapper ::-webkit-scrollbar { width: 10px; background: rgba(0,0,0,0.5); }
.app-wrapper ::-webkit-scrollbar-thumb { width: 10PX; background: #137cbd; }
.app-wrapper .sidepanel-wrapper {  z-index: 2; height: 100%; display: flex; flex-direction: column; width: 350px; flex: 0 0 350px; }
.app-wrapper .script-wrapper { width: 350px; display: flex; flex-direction: column; flex: 0 0 350px; }
.app-wrapper .rightside-wrapper { flex: 1 1 auto; display: flex; flex-direction: column; }
.app-wrapper .rightside-wrapper .top-toolbar { padding: 5px 0; }
.app-wrapper .stage-wrapper { flex: 1 1 auto; position: relative; }
.app-wrapper .layer-list-wrapper { flex: 1 1 auto; height: 100%; overflow: hidden; }
.app-wrapper .active-layer-editor-wrapper { flex: 0 0 auto; }
.app-wrapper .animation-panel-wrapper { flex: 0 0 auto; }
