@import "~@blueprintjs/core/lib/scss/variables";

.app ::-webkit-scrollbar { width: 10px; background: rgba(0,0,0,0.5); }
.app ::-webkit-scrollbar-button {  }
.app ::-webkit-scrollbar-thumb { width: 10PX; background: #137cbd; }
.app ::-webkit-scrollbar-track { }
.app ::-webkit-scrollbar-track-piece { }
.app ::-webkit-scrollbar-corner { }
.app ::-webkit-resizer { }

.app { width: 100%; height: 100%; user-select: none; }

.app-container { width: 100%; height: 100%; display: flex; overflow: hidden; }

.app-wrapper {
    flex: 0 0 350px;
    background: $pt-dark-app-background-color;
    z-index: 2;
    box-shadow: 0 0 5px #000;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.stage-wrapper
{
    flex: 1 1 auto;
    position: relative;
}

.layer-list-container { flex: 1 1 auto; height: 100%; }
.active-layer-editor-container { flex: 0 0 auto; }