/* reusable styles for the editor */
.normal-tabs { height: 100%; display: flex; flex-direction: column; overflow: hidden; }
.normal-tabs .bp3-tab-list { }
.normal-tabs .bp3-tab-list .bp3-tab { padding: 0 5px 2px 5px; margin-right: 0; color: #ffffff80;  }
.normal-tabs .bp3-tab-list .bp3-tab .bp3-icon { padding: 0 1px 0 5px }
.normal-tabs .bp3-tab-list .bp3-tab .title { padding: 0 5px; }
.normal-tabs .bp3-tab-list .bp3-tab:not([aria-selected="true"]) button { visibility: hidden; }
.normal-tabs .bp3-tab-list .bp3-tab button { min-height: 20px; height: 20px; vertical-align: text-top; }
.normal-tabs .bp3-tab-list .bp3-tab button:hover { background: none !important; }
.normal-tabs .bp3-tab-list .bp3-tab:hover button { visibility: visible; }
.normal-tabs .bp3-tab-list .bp3-tab[aria-selected="true"] { color: #ffffff; background-color: #00000040; }
.normal-tabs .bp3-tab-list .bp3-tab:not([aria-disabled="true"]):hover { color: inherit; }
.normal-tabs .bp3-tab-panel { margin-top: 0; background-color: #00000040; flex: 1 1 auto; overflow: auto; }

.popover-body { padding: 5px; }

/* hide chrome arrows for number inputs */
input[type="number"] { -moz-appearance: textfield; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
